# Copyright (c) 2021, Oracle and/or its affiliates.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA

[mysqld]
ndbcluster
ndb-connectstring=localhost
max_connections=8200

# Below three options are for testing purposes only
user=root
default_authentication_plugin=mysql_native_password
mysqlx=0

[mysqld.1]
ndb-nodeid=11
port=3306
socket=/tmp/mysql.1.sock
basedir=/nvme/3/mysqld.1
datadir=/nvme/3/mysqld.1/data

[mysqld.2]
ndb-nodeid=12
port=3307
socket=/tmp/mysql.2.sock
basedir=/nvme/4/mysqld.2
datadir=/nvme/4/mysqld.2/data

[mysqld.3]
ndb-nodeid=13
port=3308
socket=/tmp/mysql.3.sock
basedir=/nvme/3/mysqld.3
datadir=/nvme/3/mysqld.3/data

[mysqld.4]
ndb-nodeid=14
port=3309
socket=/tmp/mysql.4.sock
basedir=/nvme/4/mysqld.4
datadir=/nvme/4/mysqld.4/data

[mysqld.5]
ndb-nodeid=15
port=3310
socket=/tmp/mysql.5.sock
basedir=/nvme/3/mysqld.5
datadir=/nvme/3/mysqld.5/data

[mysqld.6]
ndb-nodeid=16
port=3311
socket=/tmp/mysql.6.sock
basedir=/nvme/4/mysqld.6
datadir=/nvme/4/mysqld.6/data

[mysqld.7]
ndb-nodeid=17
port=3312
socket=/tmp/mysql.7.sock
basedir=/nvme/3/mysqld.7
datadir=/nvme/3/mysqld.7/data

[mysqld.8]
ndb-nodeid=18
port=3313
socket=/tmp/mysql.8.sock
basedir=/nvme/4/mysqld.8
datadir=/nvme/4/mysqld.8/data

[mysqld.9]
ndb-nodeid=19
port=3314
socket=/tmp/mysql.9.sock
basedir=/nvme/3/mysqld.9
datadir=/nvme/3/mysqld.9/data
   
[mysqld.10]
ndb-nodeid=20
port=3315
socket=/tmp/mysql.10.sock
basedir=/nvme/4/mysqld.10
datadir=/nvme/4/mysqld.10/data

[mysqld.11]
ndb-nodeid=21
port=3316
socket=/tmp/mysql.11.sock
basedir=/nvme/3/mysqld.11
datadir=/nvme/3/mysqld.11/data
   
[mysqld.12]
ndb-nodeid=22
port=3317
socket=/tmp/mysql.12.sock
basedir=/nvme/4/mysqld.12
datadir=/nvme/4/mysqld.12/data

[mysqld.13]
ndb-nodeid=23
port=3318
socket=/tmp/mysql.13.sock
basedir=/nvme/3/mysqld.13
datadir=/nvme/3/mysqld.13/data

[mysqld.14]
ndb-nodeid=24
port=3319
socket=/tmp/mysql.14.sock
basedir=/nvme/4/mysqld.14
datadir=/nvme/4/mysqld.14/data

[mysqld.15]
ndb-nodeid=25
port=3320
socket=/tmp/mysql.15.sock
basedir=/nvme/3/mysqld.15
datadir=/nvme/3/mysqld.15/data

[mysqld.16]
ndb-nodeid=26
port=3321
socket=/tmp/mysql.16.sock
basedir=/nvme/4/mysqld.16
datadir=/nvme/4/mysqld.16/data

